<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="db2014ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\ap\App_Data\Database.mdf;Integrated Security=True" />    
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
      <compilation debug="false" targetFramework="4.6.1" />
      <customErrors mode="Off" />
      <httpRuntime maxRequestLength="1048576" targetFramework="4.6.1" />
    </system.web>  
    <system.codedom>        
    </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
 
</configuration>
