<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
       <add name="db2014ConnectionString" connectionString="Data Source= DESKTOP-2SNBFIS\ASUS2014B;Initial Catalog=marketing2;Persist Security Info=True;User ID=sa;Password=Alu34429883" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <customErrors mode="Off" />
      <httpRuntime maxRequestLength="1048576" targetFramework="4.6.1" />
    </system.web>  
    <system.codedom>        
    </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
